body {
  font-size: 0.9rem;
}

#background {
  height: 100vh;
}

#nav-bar {
  background-image: url(../images/common/02-index-bar-bg.png);
  background-repeat: repeat-x;
  background-position: bottom;
  z-index: 2;
}


@media (min-width: 768px) { 
  #nav-social {
  transform: translateY(50%);
  }
}

@media (max-width: 575px) { 
  #nav-social img {
    width: 18px;
    height: auto;
  }
  

}

#content {
  height: 100%;
  transform: translateY(-10px);
  position: relative;
}