#background {
  background-image: url(../images/cover/01-cover-bg-edit.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

#container {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}