#content-graphic-1 {
  background-image: url(../images/p2/04-p2-bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

#content-graphic-2 {
  background-image: url(../images/p2/04-p2-photo.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}


#content div {
  height: 100%;
}

#content-buttons {
  height: 80vh !important;
}

#content-buttons div {
  height: 60px;
}

#content-services{
  background-image: url(../images/p2/04-p2-detail-pattern.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

@media (min-width: 992px) { 
  #content-services{
    padding-top: 9rem;
  }
}

@media (max-width: 991px) { 
  #content-services{
    padding-top: 5rem;
  }
}

@media (max-width: 767px) { 
  #content-services{
    padding-top: 3rem;
  }
}

#description {
  font-size: 0.8rem;
}